<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" beStrictAboutTestsThatDoNotTestAnything="true">
  <testsuites>
    <testsuite name="Order Mutation Unit Tests">
      <directory suffix="Test.php">tests/unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
